## Imports

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import set_config
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.compose import make_column_transformer
from sklearn.metrics import ConfusionMatrixDisplay
import warnings
warnings.filterwarnings('ignore')

In [ ]:
set_config(display="diagram")
#set_config(transform_output="pandas")

In [ ]:
## Import the data for the housing competition
url = "https://drive.google.com/file/d/1YxeVDZHfDhqWb0VOn-lfxnDKoLOayJeD/view?usp=drive_link"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
data = pd.read_csv(path)
data

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,8450,65.0,856,3,0,0,2,0,0,0,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,9600,80.0,1262,3,1,0,2,298,0,0,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,11250,68.0,920,3,1,0,2,0,0,0,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,9550,60.0,756,3,1,0,3,0,0,0,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,14260,84.0,1145,4,1,0,3,192,0,0,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,62.0,953,3,1,0,2,0,0,0,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1456,13175,85.0,1542,3,2,0,2,349,0,0,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1457,9042,66.0,1152,4,2,0,1,0,0,1,...,Attchd,RFn,TA,TA,Y,NaN,GdPrv,Shed,WD,Normal
1458,9717,68.0,1078,2,0,0,1,366,0,0,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1459,9937,75.0,1256,3,0,0,1,736,0,0,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LotArea        1460 non-null   int64
 1   LotFrontage    1201 non-null   float64
 2   TotalBsmtSF    1460 non-null   int64
 3   BedroomAbvGr   1460 non-null   int64
 4   Fireplaces     1460 non-null   int64
 5   PoolArea       1460 non-null   int64
 6   GarageCars     1460 non-null   int64
 7   WoodDeckSF     1460 non-null   int64
 8   ScreenPorch    1460 non-null   int64
 9   Expensive      1460 non-null   int64
 10  MSZoning       1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Heating        1460 non-null   object
 13  Street         1460 non-null   object
 14  CentralAir     1460 non-null   object
 15  Foundation     1460 non-null   object
 16  ExterQual      1460 non-null   object
 17  ExterCond      1460 non-null   object
 18  BsmtQual       1423 non-null   object
 19  BsmtCond       1423 non-null   object
 20  BsmtExposure   1422 non-null   object
 21  BsmtFinType1   1423 non-null   object
 22  KitchenQual    1460 non-null   object
 23  FireplaceQu    770 non-null    object
 24  MSSubClass     1460 non-null   int64
 25  OverallQual    1460 non-null   int64
 26  OverallCond    1460 non-null   int64
 27  YearBuilt      1460 non-null   int64
 28  YearRemodAdd   1460 non-null   int64
 29  MasVnrArea     1452 non-null   float64
 30  BsmtFinSF1     1460 non-null   int64
 31  BsmtFinSF2     1460 non-null   int64
 32  BsmtUnfSF      1460 non-null   int64
 33  1stFlrSF       1460 non-null   int64
 34  2ndFlrSF       1460 non-null   int64
 35  LowQualFinSF   1460 non-null   int64
 36  GrLivArea      1460 non-null   int64
 37  BsmtFullBath   1460 non-null   int64
 38  BsmtHalfBath   1460 non-null   int64
 39  FullBath       1460 non-null   int64
 40  HalfBath       1460 non-null   int64
 41  KitchenAbvGr   1460 non-null   int64
 42  TotRmsAbvGrd   1460 non-null   int64
 43  GarageYrBlt    1379 non-null   float64
 44  GarageArea     1460 non-null   int64
 45  OpenPorchSF    1460 non-null   int64
 46  EnclosedPorch  1460 non-null   int64
 47  3SsnPorch      1460 non-null   int64
 48  MiscVal        1460 non-null   int64
 49  MoSold         1460 non-null   int64
 50  YrSold         1460 non-null   int64
 51  Id             1460 non-null   int64
 52  Alley          91 non-null     object
 53  LotShape       1460 non-null   object
 54  LandContour    1460 non-null   object
 55  Utilities      1460 non-null   object
 56  LotConfig      1460 non-null   object
 57  LandSlope      1460 non-null   object
 58  Neighborhood   1460 non-null   object
 59  Condition2     1460 non-null   object
 60  BldgType       1460 non-null   object
 61  HouseStyle     1460 non-null   object
 62  RoofStyle      1460 non-null   object
 63  RoofMatl       1460 non-null   object
 64  Exterior1st    1460 non-null   object
 65  Exterior2nd    1460 non-null   object
 66  MasVnrType     588 non-null    object
 67  BsmtFinType2   1422 non-null   object
 68  HeatingQC      1460 non-null   object
 69  Electrical     1459 non-null   object
 70  Functional     1460 non-null   object
 71  GarageType     1379 non-null   object
 72  GarageFinish   1379 non-null   object
 73  GarageQual     1379 non-null   object
 74  GarageCond     1379 non-null   object
 75  PavedDrive     1460 non-null   object
 76  PoolQC         7 non-null      object
 77  Fence          281 non-null    object
 78  MiscFeature    54 non-null     object
 79  SaleType       1460 non-null   object
 80  SaleCondition  1460 non-null   object
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

## Preprocessor

### Splitting the data

### Pipelines

### Models

### Evaluation

# Importing competition data

In [ ]:
# import competition data
url = "https://drive.google.com/file/d/15PfmTxmavQCT-f7iY9tgwWxm9t4GRees/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
competition_data = pd.read_csv(path)
competition_data

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,MSZoning,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,11622,80.0,882.0,2,0,0,1.0,140,120,RH,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1,14267,81.0,1329.0,3,0,0,1.0,393,0,RL,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
2,13830,74.0,928.0,3,1,0,2.0,212,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
3,9978,78.0,926.0,3,1,0,2.0,360,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,5005,43.0,1280.0,2,0,0,2.0,0,144,RL,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1936,21.0,546.0,3,0,0,0.0,0,0,RM,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,WD,Normal
1455,1894,21.0,546.0,3,0,0,1.0,0,0,RM,...,CarPort,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
1456,20000,160.0,1224.0,4,1,0,2.0,474,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
1457,10441,62.0,912.0,3,0,0,0.0,80,0,RL,...,NaN,NaN,NaN,NaN,Y,NaN,MnPrv,Shed,WD,Normal
1458,9627,74.0,996.0,3,1,0,3.0,190,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

# Predicting y_test and Making a submission CSV

In [ ]:
# Extras needed on colab
# from google.colab import files
# files.download("my_submission_dt_1.csv")